doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title=title
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    .header
        .logo
            a(href='/')
                img(src='../img/electron_logo_horizontal.png')
        .links
            a flint
            a flare
            a flash
        .login
            a(href=env.LOGIN_URL) login
    
    .content
        block content

    .footer
        a(href=env.DEALER_URL) Privacy & Legal
        a(href=env.DEALER_URL) Contact
        a(href=env.DEALER_URL) Careers
        a(href=env.DEALER_URL) Newsletter
        a(href=env.DEALER_URL) Forums
        a(href=env.DEALER_URL) Locations
        a(href=env.DEALER_URL) Dealer Login